<p id="notice"><%= notice %></p>

<p>
  <strong>Mobile number:</strong>
  <%= @application_form.mobile_number %>
</p>

<p>
  <strong>Application number:</strong>
  <%= @application_form.application_number %>
</p>

<p>
  <strong>Hall ticket number:</strong>
  <%= @application_form.hall_ticket_number %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @application_form.rank %>
</p>

<p>
  <strong>Name:</strong>
  <%= @application_form.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @application_form.gender %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @application_form.date_of_birth %>
</p>

<p>
  <strong>Age:</strong>
  <%= @application_form.age %>
</p>

<p>
  <strong>Aadhaar number:</strong>
  <%= @application_form.aadhaar_number %>
</p>

<p>
  <strong>Blood group:</strong>
  <%= @application_form.blood_group %>
</p>

<p>
  <strong>Mother name:</strong>
  <%= @application_form.mother_name %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @application_form.father_name %>
</p>

<p>
  <strong>Mobile number1:</strong>
  <%= @application_form.mobile_number1 %>
</p>

<p>
  <strong>Mobile number2:</strong>
  <%= @application_form.mobile_number2 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @application_form.email %>
</p>

<p>
  <strong>Social status:</strong>
  <%= @application_form.social_status %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @application_form.religion %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @application_form.nationality %>
</p>

<p>
  <strong>Physically challenged:</strong>
  <%= @application_form.physically_challenged %>
</p>

<p>
  <strong>Address:</strong>
  <%= @application_form.address %>
</p>

<p>
  <strong>State:</strong>
  <%= @application_form.state %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @application_form.pincode %>
</p>

<p>
  <strong>Place of study vi to xii:</strong>
  <%= @application_form.place_of_study_vi_to_xii %>
</p>

<p>
  <strong>Physically challenged category:</strong>
  <%= @application_form.physically_challenged_category %>
</p>

<p>
  <strong>Sports category:</strong>
  <%= @application_form.sports_category %>
</p>

<p>
  <strong>Defence category:</strong>
  <%= @application_form.defence_category %>
</p>

<p>
  <strong>Ncc category:</strong>
  <%= @application_form.ncc_category %>
</p>

<p>
  <strong>Farmers quota:</strong>
  <%= @application_form.farmers_quota %>
</p>

<%= link_to 'Edit', edit_application_form_path(@application_form) %> |
<%= link_to 'Back', application_forms_path %>
